<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.service.user.mapper.UserMapper">

  <resultMap id="BaseResultMap" type="com.service.user.entity.User">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="hashedPasswd" jdbcType="CHAR" property="hashedPasswd" />
  </resultMap>

  <select id="selectByUsername" parameterType="String" resultType="com.service.user.entity.User">
    SELECT * FROM users WHERE username = #{username}
  </select>

  <insert id="insertUser" parameterType="com.service.user.entity.User">
    INSERT INTO users (username, hashedPasswd) VALUES (#{username}, #{hashedPasswd})
  </insert>

</mapper>